p{
	font-family: 'Outfit';
	font-weight: 300;
    font-size: 1.375rem;
    line-height: 32px;

    color: #444444;
}
/* h1{
    font-weight: 900;
    font-size: 6rem;
    line-height: 88px;
 
    text-transform: uppercase;

    color: #FFFFFF;
}
h2{
    font-style: normal;
    font-weight: 900;
    font-size: 3.75rem;
    line-height: 60px;

    text-transform: uppercase;

    color: #151515;
} */
main{
    background-color:  #151515;
}
.section-up{
    background-image: url(./image/desktop/image-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    min-height: 685px;

    margin: 0 auto;
}
.section-up-child{
    margin: 0 auto;

    max-width: 1440px;
}
.section-up-child a{
    display: flex;
    width: 260px;
     
    background-color: #000000;

    margin-left: 11%;
}
.section-up-child a:hover{
    background-color: #D5966C;
}
.left-button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    cursor: pointer;

    width: 204px;
    height: 72px;
   
    background-color: #00000000;
}
.left-button span{
    display: inline-block;
    
    font-weight: 800;
    font-size: 17px;
    line-height: 24px;

    letter-spacing: 3.63636px;

    color: #FFFFFF;

    white-space: nowrap;
   
}
.right-button{
    border: none;
    cursor: pointer;
    width: 56px;
    height: 72px;

    background-color: #D5966C;
}
.right-button:hover{
    background-color: #151515;
}
/* ===================== section-down ================= */
.section-down{
    display: flex;
    justify-content: space-between;

    padding: 104px 8.5587%;

    margin: 0 auto;
    max-width: 1440px;
    min-height: 548px;
    /* background-color:  #151515; */
}
.section-down-div{
    max-width: 45.77%;;
}
.section-down h1{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
        
    text-transform: uppercase;
        
    color: #FFFFFF; 
    
    max-width: 300px;
    height: auto;
}
.section-down-div h3{
    font-family: 'Big Shoulders Display';

    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
  
    text-transform: uppercase;

    color: #D5966C;
       
    margin-bottom: 24px;
}
.section-down-div p{
    color: #FFFFFF;
}
/* ===================== footer ================= */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 244px;

    background: #D5966C;;
}
.footers-child{
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
  
    max-width: 1440px;
    /* padding: 0 10.865%; */
    padding: 104px 8.5587%;
}
.footers-logo{
    width: 160px;
    height: 58px;
}
.footers-child p{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
  
    color: #151515;

    width: 32.08%;
}
.footers-icon{
    display: flex;
    justify-content: space-between;

    width: 100px;
}
.footers-icon svg:hover{
    fill: #FFFFFF;
    cursor: pointer;
    transform: scale(0.97)
}
@media only screen and (max-width: 768px){
    .section-up{
        background-image: url(./image/mobile/image-map.png);
    }
    .section-up-child a{
        margin-left: 0;
    }
    .section-down{
        flex-direction: column;
    }
    .section-down h1{
        margin-bottom: 48px;

        font-size: 50px;
        line-height: 45px;
    }
    .section-down-div{
        max-width: 100%;
    }
    .footers-child{
        flex-direction: column;
        align-items:flex-start;

        padding: 14.607% 10.8%;
    }
    .footers-logo, .footers-child p{
        margin-bottom: 32px;
    }
    .footers-child p{
        width: 100%;
    }
}